
.contain{
    background-color: #d9f3f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 510px;
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px 123px 51px 140px;
    border-radius: 31px;
}

.content-div{
    margin-top: 10px;
}
.form-design label{
    display: block;
    margin-bottom: 7px;
    text-align: left;
}
.ABC{
    padding: 11px 18px;
}

.reg{
    padding: 10px;
}

.link{
    padding-left: 15px;
}

.sub{
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 12px 83px;
}

.wr{
    color: red;
}

