.containF{
    background-color: #eff3d9;
    margin-left: 580px !important;
  margin: 8% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 310px;
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 15px 125px 35px 140px;
  border-radius: 31px;
}

.content-divF{
    margin-top: 10px;
}
.form-designF label{
    display: block;
    margin-bottom: 7px;
    text-align: left;
}
.ABCF{
    padding: 11px 18px;
}

.regF{
    padding: 19px 30px 16px 174px;
}

.linkF{
    padding-left: 15px;
}

.subF{
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #2f312a;
    font-weight: bold;
    border: 1px solid #6a7061;
    color: #fff;
    padding: 12px 83px;
}

.wr{
    color: red;
}

